<html>
  <head>
    <title>{{lang.Title|formatString}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      *{
        word-break: break-all;
      }
      form{
        margin-top:5px;
      }
      #Flash{
        position: fixed;
        bottom: 5%;
        right: 5%;
        max-width: 450px;
        list-style-type: none;
      }
    </style>
    <script>
      function loop(){
        pass=$("#password").val();
        check=$("#passwordCheck").val();

        if(pass!=check){
          $("#checkMessage").html("<span class='text-danger'>{{lang.PasswordDifferent}}</span>");
        }else{
          $("#checkMessage").html("<span class='text-success'>{{lang.PasswordSame}}</span>");
        }
      }

      function removeFlash(){
        $("#Flash").fadeOut();
      }

      setInterval(loop,300);
      setTimeout(removeFlash,5000);
    </script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul id="Flash">
          {% for message in messages %}
            <li class="alert alert-danger">{{message}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="container">
      <div class="jumbotron text-center">
        <h1>{{lang.TitleH1|formatString}}</h1>
        <h2>{{lang.SubTitleH2}}</h2>
        <h4>{{lang.Text|safe}}</h4>
        <form method="POST">
          <label>{{lang.PasswordOld}}<input name="oldPass" type="password" class="form-control"></label><br>
          <label>{{lang.PasswordNew}}<input name="newPass" type="password" class="form-control" id="password"></label><br>
          <label>{{lang.PasswordNewCheck}}<input name="newPassCheck" type="password" class="form-control" id="passwordCheck"></label><br>
          <b><span id="checkMessage"></span></b><br><br>
          <input type="submit" class="btn btn-danger" value="{{lang.ChangePassword}}">
        </form>
      </div>
    </div>
    {% include "Footer.html" %}
  </body>
</html>
