<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <head>
    <title>About - {{cfg.SocialName}}</title>
  </head>
  <style>
    ul{
      list-style-position:inside;
      font-size: 17px;
      font-weight: 200;
    }
    p{
      margin-top: 50px;
      font-weight: 200;
    }
  </style>
  <body>
      <div class="container jumbotron">
            <h1 style="text-align:center;">
              Cosa offre {{cfg.SocialName}}
            </h1>
            <p style="text-align:center;">
              {{cfg.SocialName}} è un piccolo Social Network in cui potrai<br>
              condividere con gli altri i tuoi pensieri senza doverti preocupare di un<br>
              interfaccia complicata piena di strumenti che non utilizzerai quasi mai<br>
            </p>
            <p style="text-align:right;margin-top:50px;">
                Come puoi vedere, la pagina di login è molto semplice,<br>
                devi solo inserire il tuo Username e la tua password<br>
                puoi anche cliccare su "Mantienimi Collegato" per non dover inserire ogni volta le tue credenziali<br>
            </p>
            <p style="text-align:left;">
              Se non hai ancora un account puoi premere il pulsante in basso che ti porterà alla<br>
              pagina di registrazione.<br>
              Potrebbe sembrare una pagina molto complessa ma ,fidati,non lo è<br>
              Compiliamo insieme i campi:<br>
              <ul>
                  <li>Nome:Qui devi inserire semplicemente il tuo nome,quello che tutti vedranno</li>
                  <li>Cognome:Come per il nome qui ci va il tuo cognome</li>
                  <li>Username:Questo è il tuo username univoco che dovrai utilizzare per il login</li>
                  <li>Password:Qui devi inserire la password che servirà per loggare nel tuo account</li>
                  <li>per questioni di sicurezza devi inserirla due volte per evitare eventuali errori.</li>
                  <li>Descrizione:Qui puoi inserire una descrizione per fare capire immediatamente alle altre persone i tuoi interessi.</li>
              </ul>
            </p>
      </div>
  </body>
</html>
